*{
    
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgb(252, 252, 252);
}

.inputs{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}

.inputs input{
    width: 400px;
    margin: 10px;
    border-radius: 15px;
    padding: 9px;
    outline: none;
    background-color:#eaeaea;
    border: none;
}

.inputs button{
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(0, 149, 255);
    color: #fff;
    font-weight: bolder;
}

.inputs button:hover{
    background-color: rgba(0, 149, 255, 0.808);
    color: #fff;
}

.pokemon-container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    min-height: 400px;
    margin: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    
}

.pokemon-container:hover{
    transform: scale(1.02);
    transition: all 0.2s;
}

.descriptionPokemon{
    color: #fff;
    background-color: #c8c9c9;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.descriptionPokemon span{
    font-weight: bolder;
    font-size: 25px;
}

.classePokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
   
}

.link{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    border-radius: 2px solid blue;
    background-color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.link:hover{
    background-color: #eef2f2;
}

.image-pokemon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.classePokemon ul{
    display: flex;
    flex-direction: column; 
    list-style: none;
    margin-bottom: 10px;
}

.classePokemon li{
    display: flex;
    flex-direction: column; 
    background-color: purple;
    margin-top: 4px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
}

.classePokemon span{
    display: flex; 
}

.nomePokemon{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


.classePokemon h2{
    color: rgb(0, 0, 0);
}


.nomePokemon h2{
    color: rgb(0, 0, 0);
}


.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c8c9c9;
    color: #fff;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.habilidades h2{
    color: red;
}

.habilidades span{
   font-size: 19px;
    
}

.nomePokemon span{
    color: yellow;
    font-size: 30px;
}